<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="New Minneapolis apartments near Uptown and Lake Calhoun. Lime Apartments offer pet-friendly rentals and pool, hot tub, roof deck, fitness center and more." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lime Apartments Uptown, Minneapolis" />
    <meta property="og:description" content="New Minneapolis apartments near Uptown and Lake Calhoun. Lime Apartments offer pet-friendly rentals and pool, hot tub, roof deck, fitness center and more." />
    <meta property="og:url" content="https://limeapartments.com" />
    <meta property="og:site_name" content="Lime" />
    <title>Lime Apartments Uptown, Minneapolis</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
    <link rel="shortcut icon" type="favicon.ico" />
    <script>
      (function() {
        const redirect = sessionStorage.redirect;
        delete sessionStorage.redirect;
        if (redirect && redirect != location.href) {
          history.replaceState(null, null, redirect);
        }
      })();
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=280981908583021"></script>
    <div id="app"></div>
  </body>
</html>
